.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #f2f2f2;
  overflow: visible;
}

.titleContainer {
  flex-direction: column;
  display: flex;
  flex: 1;
}
